@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:"Roboto","Arial",sans-serif;
}
button {
  width: 5em;
  height: 5em;
  background-color: #ff0000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main */
main {
  background-color: #fafafa;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container de video*/
#primaryColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* container de video*/
#videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#videoInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#viewsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}



/* secundary column*/
#secundaryColumn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* recommendated videos */

.recommendatedVideo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.recommendatedVideoTitle{
  font-size: 14px;
  color:  #030303;
  font-weight: 500;
}
.recommendatedVideoData{
  font-size: 12px;
  color:  #606060;
  font-weight: 0;

}