@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  font-family:"Roboto","Arial",sans-serif;
  background-repeat: no-repeat;
margin: 0px;
}
button{
  width: 20px;
  height: 20px;
  background-color: white;
  border: none;
}

/* header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#logoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 170px;
}
#menuBtn{
  background-image: url("./images/grid.svg");
  width: 50px;
  height: inherit;
  background-size:auto;
  background-position: center;
  background-color: black;
}

#homeBtn{
 height: 26px;
  width: 90px;

  background-image: url("./images/yt-logo.svg");
  background-size:auto;
}
#searchContainer{
  width: 42em;
  height: 2.9em;
}
#searchContainer input{
  width: inherit;
  height: inherit;
  font-size: 16px;
  padding-left: 2%;
}
#searchContainer #searchBtn{
  height: inherit;
  width: 5.2em;
  background-image: url("./images/lupa.svg");
  background-size: 60%;
  background-position: center;
  background-color: #ebebeb;
}

#voiceBtn{
  background-image: url("./images/microphone-black-shape.png");
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-size: 65%;
  background-position: center;

  background-color: #ebebeb;

}

#logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main */
main {
  background-color: #fafafa;
  height: 100%;
  display: flex;
  justify-content: center;
}

#primaryColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* container de video*/
#videoContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#videoInfoContainer {
  display: flex;
  align-items: center;
}
#viewsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*comments container */
#comments{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.comment{
  display: flex;
}


/* secundary column*/
#secundaryColumn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* recommendated videos */

.recommendatedVideo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.recommendatedVideoTitle{
  font-size: 14px;
  color:  #030303;
  font-weight: 500;
}
.recommendatedVideoData{
  font-size: 12px;
  color:  #606060;
  font-weight: 0;

}

