@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  background-repeat: no-repeat;
  margin: 0px;
}
.profilePhoto,
.profileImg {
  border-radius: 100%;
}

hr{
  width: 100%;
  height: 1px
}
button {
  width: 20px;
  height: 20px;
  background-color: white;
  border: none;
  cursor: pointer;
}

/* header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 170px;
}
#menuBtn {
  width: 50px;
  height: inherit;
}
#menuBtn img {
  width: 24px;
  height: 24px;
}

#homeBtn {
  height: 26px;
  width: 90px;
  margin-left: 10px;
}

#searchContainer {
  width: 45.5em;
  height: 2.5em;
}
#searchContainer input {
  width: inherit;
  height: inherit;
  font-size: 16px;
  padding-left: 2%;
  border: 1px solid #ccc;
}
#searchBtn {
  height: inherit;
  width: 5.2em;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-left: none;
}
#searchBtn img {
  width: 2.1em;
  height: 2.1em;
}

#voiceBtn {
  height: 3em;
  width: 3em;
  border-radius: 0vmax;
  background-color: #fafafa;
  margin-left: 10px;
}
#voiceBtn img {
  width: 1.4em;
  height: 1.4em;
}

#logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}
nav button {
  width: 40px;
  height: 40px;
  margin-left: 8.5px;
  margin-right: 8.5px;
}
nav img {
  width: 24px;
  height: 24px;
}
#profileBtn {
  width: 40px;
  height: 60px;
}
#profileBtn img {
  height: 32px;
  width: 32px;
}

/* main */
main {
  background-color: #fafafa;
  height: 100%;
  display: flex;
  justify-content: center;
}
iframe{
margin-bottom: 10px;
margin-top: 10px;  
}

#primaryColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1040px;
}
/* container de video*/
#videoContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#dataContainer h1 {
  font-weight: 500;
  font-size: 1.1em;
  color: #030303;
}



#videoInfoContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#viewsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 0.75em;
  color: #606060;
  font-weight: 400;
}
#viewsContainer #viewsDate{
margin-left: 8px;
}

#optionsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 30em;
  margin-top: 2em;
}
#optionsContainer button{

display: flex;
justify-content: center;
align-items: center;
font-size: 16px;
font-weight: 500;
height: inherit;
background-color: #fafafa ;
}
#optionsContainer img{
  width: 24px;
  height: 24px;
}
#likeBtn{
  width: 5em;
}
#dislikeBtn{
  width: 10em;
}
#shareBtn{
  width: 8em;
}
#saveBtn{
  width: 7em;
}
#moreBtn{
  height: inherit;
  width: 2em;
}
/*description container */
#description{
width: 100%;
}


#descriptionTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 12px;
}
#descriptionLeft{
  display: flex;
  justify-content: center;
  align-items: center;
}

#suscribeBtn{
width: 9em;
height: 2.4em;
background-color:  #CC0000;
color: white;
font-size: 16px;
font-weight: 500;
}

#channelContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 1em;
}
#channelContainer a {
text-decoration: none;
  color: black;
  font-weight: 500;
}
#channelContainer h4{
  font-size: 12px  ;
  color: #606060;

}

#descriptionBottom{
  display: flex;
  justify-content: center;
  align-items: center;
}
#descriptionText{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 34.5em;
  font-size: 15px;
  margin-bottom: 1em;
}


/*comments container */

#comments {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#commentsTop{
display: flex;
align-items: center;
margin-top: 1em;
margin-bottom: 1em;

}
#commentsTop button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 10em;
  height: 1.8em;
  font-weight: 600;
  color: #030303;
}


.comment {
  display: flex;
  margin-bottom: 1em;
}
.comment .imageSection{
  margin-right: 1em ;
}
.commentTop{
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.commentTop h5{
  margin-left: 0.5em;
}
.commentBtns{
  display: flex;
  align-items: center;
}
.commentBtns * {
  background-color: #fafafa;
}
.commentBtns .commentLike, .commentBtns .commentDislike{
  width: 24px;
  height: 24px;
  background-color: #fafafa;  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-right: 1em;


}
.commentReply{
  color: #606060;
  font-size: 16px;
  font-weight: 500;
  width: 6em;
  height: 2em;
margin-right: 0.8em;
}

#newnewComment{
  display: flex;
  justify-content: center;
  align-items: center;
}
#newComment input{
  margin-top: 0.3em;
  width: 100%;
  height: 50%;
  margin-left: 1em;
  border: none;
  background-color: #fafafa;
  border-bottom:  1px solid  #909090  ;
}

/* secundary column*/
#secundaryColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 10px;
}

/* recommendated videos */

.recommendatedVideo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recommendatedVideoTitle {
  font-size: 14px;
  color: #030303;
  font-weight: 500;
}
.recommendatedVideoData {
  font-size: 12px;
  color: #606060;
  font-weight: 0;
}
